.column {
  float: left;
  width: 300px;
  background-color: green;
}

h2 {
  text-align: center;
}

img {
  width: 200px;
}

.column2 {
  float: left;
  width: 300px;
  background-color: blue;
}

.column3 {
  float: left;
  width: 300px;
  background-color: red;
}
